* {
    background-color: blue;
    width: auto;
}
h1 {
    font-size: 30px;
    color: yellow;
}
h2 {
    font-size: 20px;
    color: black;
}
p {
    font-size: 18px;
    color:black;
}
p:hover {
    color: yellow;
}
img {
    border-radius: 35px; 
    opacity: .6;
}
img:hover {
    border-radius: 100px;
    opacity: 1;
}
.myPage {
    width: auto;
    text-align: center;
}
